


<header>

    <div id="titleHome">
<span class="titleNow"> 

    Makeup Inventory

</span>

<span class="titleNow2"> 

    Makeup Inventory

</span>

</div>


<nav id="mainMenu">

<ul>

    <li><a href="/categories">Home</a></li>
    <li><a href="/items">All Items</a></li>
    

</ul>

</nav>

</header>

