<!-- Shows:

Product name

Price

Category

Link to product page

-->

<h1><%= item.name %></h1>
<p><%= item.price %></p>
<p><%= item.id %></p>
<a href="/items">Back to items</a>

<a href="/categories">Back to categories</a>